<h2> Applied Data Science Capstone Assignment 2 :Segmenting and Clustering Neighborhoods in Toronto - Part 1 </h2>

<p> For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

<h4> 1. Start by creating a new Notebook for this assignment. </h4> 

<h4> 2. Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below:</h4> </p>

In [1]:
# Import necessary libraries

import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
#Check the length of the first 12 rows
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

<p> This means there are 3 columns per row </p>

In [4]:
# Parse the first row as our header
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

<h3> Creating pandas Dataframe </h3>

<p> Each header is appended to a tuple along with an empty list. </p>

In [5]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [6]:
# Check the length of each column. Ideally, they should all be the same
[len(C) for (title,C) in col]

[287, 287, 287]

<p> This shows that each of the 3 columns has exactly 288 rows</p>

<h3> Creating pandas dataframe</h3>

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

<h3> Renaming columns </h3>

In [9]:
df.columns = ['PostalCode','Borough','Neighbourhood']

df.head()

  PostalCode           Borough       Neighbourhood
0        M1A      Not assigned      Not assigned\n
1        M2A      Not assigned      Not assigned\n
2        M3A        North York         Parkwoods\n
3        M4A        North York  Victoria Village\n
4        M5A  Downtown Toronto      Harbourfront\n

<h3> Removing \n from dataframe </h3>

In [10]:
df.replace(r'\n',' ',regex=True,inplace=True)

In [11]:
df.head()

  PostalCode           Borough      Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

<h3> Dropping all Cells with Borough value as Not assigned </h3>

In [12]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(20)

   PostalCode           Borough      Neighbourhood
0         M3A        North York         Parkwoods
1         M4A        North York  Victoria Village
2         M5A  Downtown Toronto      Harbourfront
3         M6A        North York  Lawrence Heights
4         M6A        North York    Lawrence Manor
5         M7A  Downtown Toronto      Queen's Park
6         M9A         Etobicoke  Islington Avenue
7         M1B       Scarborough             Rouge
8         M1B       Scarborough           Malvern
9         M3B        North York   Don Mills North
10        M4B         East York  Woodbine Gardens
11        M4B         East York     Parkview Hill
12        M5B  Downtown Toronto           Ryerson
13        M5B  Downtown Toronto   Garden District
14        M6B        North York         Glencairn
15        M9B         Etobicoke        Cloverdale
16        M9B         Etobicoke         Islington
17        M9B         Etobicoke      Martin Grove
18        M9B         Etobicoke  Princess Gardens
19        M9B         Etobicoke   West Deane Park

<h3> Combining Neighbourhoods based on similar Postcode and Borough </h3>

In [13]:
df = df.groupby(['PostalCode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['PostalCode','Borough','Neighbourhood']
df.head(10)

  PostalCode      Borough                                     Neighbourhood
0        M1B  Scarborough                                   Rouge ,Malvern
1        M1C  Scarborough           Highland Creek ,Rouge Hill ,Port Union
2        M1E  Scarborough                Guildwood ,Morningside ,West Hill
3        M1G  Scarborough                                           Woburn
4        M1H  Scarborough                                        Cedarbrae
5        M1J  Scarborough                              Scarborough Village
6        M1K  Scarborough      East Birchmount Park ,Ionview ,Kennedy Park
7        M1L  Scarborough                  Clairlea ,Golden Mile ,Oakridge
8        M1M  Scarborough  Cliffcrest ,Cliffside ,Scarborough Village West
9        M1N  Scarborough                      Birch Cliff ,Cliffside West

In [14]:
df.shape

(103, 3)

<h2> Applied Data Science Capstone Assignment 2 :Segmenting and Clustering Neighborhoods in Toronto - Part 2 </h2>

In [15]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

link = "http://cocl.us/Geospatial_data"
df_geo = pd.read_csv(link)

df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [16]:
df_geo.shape

(103, 3)

<p> Both the dataframes has same shape i.e. (103,3)</p>

<h3> Changing the Postal Code column to PostalCode </h3>

In [17]:
df_geo.columns = ['PostalCode','Latitude','Longitude']

cols = df_geo.columns.tolist()
cols

['PostalCode', 'Latitude', 'Longitude']

<h3> Merging two dataframes </h3>

In [18]:
df_toronto = pd.merge(df, df_geo, on='PostalCode')
df_toronto.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge ,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek ,Rouge Hill ,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood ,Morningside ,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476